.ncic {
	FONT-SIZE: 9pt; FONT-FAMILY: "宋体"
}
TABLE {
	FONT-SIZE: 9pt; COLOR: #333333; LINE-HEIGHT: 20px; FONT-FAMILY: "宋体"; WHITE-SPACE: normal
}
A:visited {
	FONT-SIZE: 9pt; COLOR: #003399; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A:link {
	FONT-SIZE: 9pt; COLOR: #666666; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 9pt; COLOR: #003399; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A:active {
	FONT-SIZE: 9pt; COLOR: #003366; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.padding01 {
	PADDING-TOP: 2px
}
.title {
	PADDING-LEFT: 15px; FONT-WEIGHT: bolder; FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.padding02 {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-TOP: 8px
}
A.link01:link {
	COLOR: #9d74cc; TEXT-DECORATION: none
}
A.link01:visited {
	COLOR: #9d74cc; TEXT-DECORATION: none
}
A.link01:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
A.link02:link {
	COLOR: #245cf2; TEXT-DECORATION: none
}
A.link02:visited {
	COLOR: #245cf2; TEXT-DECORATION: none
}
A.link02:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
A.link03:link {
	COLOR: #336600; TEXT-DECORATION: none
}
A.link03:visited {
	COLOR: #336600; TEXT-DECORATION: none
}
A.link03:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
A.link04:link {
	COLOR: #ff6600; TEXT-DECORATION: none
}
A.link04:visited {
	COLOR: #ff6600; TEXT-DECORATION: none
}
A.link04:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.link05:link {
	COLOR: #003399; TEXT-DECORATION: none
}
A.link05:visited {
	COLOR: #003399; TEXT-DECORATION: none
}
A.link05:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
.td01 {
	COLOR: #ffffff; BACKGROUND-COLOR: #a6afd2; TEXT-DECORATION: none
}
