vti_encoding:SR|utf8-nl
skin/01/tdbg_left.gif:interests.htm
/c\:/docume~1/admini~1/locals~1/temp/msoclip1/01/clip_image001.png:english.htm
skin/01/border.gif:interests.htm
skin/01/title_right2.gif:interests.htm
skin/01/tdbg_right.gif:interests.htm
javascript\:window.external.addfavorite('index.htm','张文力主页'):interests.htm
fade.js:interests.htm
skin/01/topborder.gif:interests.htm
mailto\:zhangwl@ncic.ac.cn:education.htm interests.htm english.htm
http\://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab:interests.htm
skin/01/title_right.gif:interests.htm
2.swf:interests.htm
skin/01/nav_main.gif:interests.htm
yslm/bg_test.gif:interests.htm
http\://www.ncic.ac.cn/:education.htm english.htm
skin/01/txt_css.gif:interests.htm
skin/01/maintop.gif:interests.htm
skin/01/tdbg_left2.gif:interests.htm
skin/01/nav_bottom.gif:interests.htm
skin/01/nav_top.gif:interests.htm
skin/01/topbar_bg_20.gif:interests.htm
http\://www.ieee.org:links.htm
skin/01/title_left.gif:interests.htm
skin/01/tdbg_right2.gif:interests.htm
http\://www.acm.org:links.htm
skin/01/title_left2.gif:interests.htm
http\://www.ict.ac.cn/rencai/teacher/fangjianping.htm:education.htm
http\://www.ict.ac.cn/:education.htm english.htm
skin/01/nav_menu.gif:interests.htm
skin/01/tdbg_main3.gif:interests.htm
skin/01/title_main.gif:interests.htm
clsid\:d27cdb6e-ae6d-11cf-96b8-444553540000:interests.htm
skin/01/kt01-p1.gif:interests.htm
http\://www.computer.org:links.htm
skin/01/tdbg_main2.gif:interests.htm
