BODY {
	FONT-SIZE: 10pt; BACKGROUND: #fff; MARGIN: 0px 1px 0px 0px; COLOR: #000; FONT-FAMILY: sans-serif
}
P {
	FONT-SIZE: 10pt; MARGIN: 0px 0px 5px
}
H1 {
	FONT-WEIGHT: bold; BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: 10px 0px 5px; COLOR: #549
}
H2 {
	FONT-WEIGHT: bold; BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: 10px 0px 5px; COLOR: #549
}
H3 {
	FONT-WEIGHT: bold; BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: 10px 0px 5px; COLOR: #549
}
H1 {
	FONT-SIZE: 125%
}
H2 {
	FONT-SIZE: 110%
}
H3 {
	FONT-SIZE: 100%
}
A {
	FONT-WEIGHT: normal; COLOR: #549
}
A:hover {
	TEXT-DECORATION: underline
}
A:visited {
	COLOR: #768
}
DL {
	FONT-SIZE: 10pt; MARGIN: 0px
}
DT {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; COLOR: #549; PADDING-TOP: 5px; BORDER-BOTTOM: #000 1px solid; BORDER-RIGHT-WIDTH: 0px
}
DD {
	MARGIN: 0px 0px 15px 10px
}
CODE {
	COLOR: #756
}
TT {
	COLOR: #756
}
PRE {
	PADDING-LEFT: 10px; COLOR: #756
}
TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; COLOR: #666; PADDING-TOP: 5px
}
TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; TEXT-ALIGN: left
}
TABLE {
	FONT-SIZE: 10pt; MARGIN-BOTTOM: 10px
}
UL {
	PADDING-LEFT: 4px; FONT-SIZE: 10pt
}
OL {
	PADDING-LEFT: 4px; FONT-SIZE: 10pt
}
OL OL {
	PADDING-LEFT: 20px
}
UL OL {
	PADDING-LEFT: 20px
}
UL UL {
	PADDING-LEFT: 20px
}
OL {
	LIST-STYLE-TYPE: decimal
}
OL OL {
	LIST-STYLE-TYPE: upper-alpha
}
LI {
	LIST-STYLE-POSITION: inside; TEXT-INDENT: 0px
}
TD.navigation {
	BORDER-RIGHT: #000 0px solid; PADDING-RIGHT: 15px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 15px; BACKGROUND: #76a; PADDING-BOTTOM: 5px; BORDER-LEFT: #000 0px solid; COLOR: #eee; PADDING-TOP: 5px; BORDER-BOTTOM: #000 0px solid
}
TD.submenu {
	BORDER-RIGHT: #000 0px solid; PADDING-RIGHT: 5px; BORDER-TOP: #000 0px solid; PADDING-LEFT: 15px; BACKGROUND: #eee; PADDING-BOTTOM: 5px; BORDER-LEFT: #000 0px solid; COLOR: #549; PADDING-TOP: 5px; BORDER-BOTTOM: #000 1px solid
}
.nav {
	COLOR: #a67
}
A.navigation {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; COLOR: #fff; PADDING-TOP: 5px; TEXT-DECORATION: none
}
A.navigation:visited {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; COLOR: #fff; PADDING-TOP: 5px; TEXT-DECORATION: none
}
A.navigation-active {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; COLOR: #549; PADDING-TOP: 5px; BACKGROUND-COLOR: #eee; TEXT-DECORATION: none
}
A.navigation-active:visited {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; COLOR: #549; PADDING-TOP: 5px; BACKGROUND-COLOR: #eee; TEXT-DECORATION: none
}
A.submenu {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; COLOR: #549; PADDING-TOP: 5px; TEXT-DECORATION: none
}
A.submenu:visited {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; COLOR: #549; PADDING-TOP: 5px; TEXT-DECORATION: none
}
#breadcrumb {
	FONT-WEIGHT: normal; COLOR: #a67
}
#breadcrumb A {
	FONT-WEIGHT: normal; COLOR: #a67
}
A.navigation:hover {
	TEXT-DECORATION: underline
}
A.navigation-active:hover {
	TEXT-DECORATION: underline
}
A.submenu:hover {
	TEXT-DECORATION: underline
}
A.breadcrumb:hover {
	TEXT-DECORATION: underline
}
FORM.search {
	DISPLAY: inline
}
INPUT.search {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 90%; BACKGROUND: #fff; PADDING-BOTTOM: 2px; MARGIN: 2px 0px 2px 3px; BORDER-LEFT: #000 1px solid; COLOR: #999; PADDING-TOP: 2px; BORDER-BOTTOM: #000 1px solid
}
INPUT.search-button {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 90%; BACKGROUND: #fff; PADDING-BOTTOM: 2px; MARGIN: 2px 0px 2px 3px; BORDER-LEFT: #000 1px solid; COLOR: #999; PADDING-TOP: 2px; BORDER-BOTTOM: #000 1px solid
}
INPUT.button {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 90%; BACKGROUND: #fff; PADDING-BOTTOM: 2px; MARGIN: 2px 0px 2px 3px; BORDER-LEFT: #000 1px solid; COLOR: #999; PADDING-TOP: 2px; BORDER-BOTTOM: #000 1px solid
}
INPUT.search-button {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BACKGROUND: #ccc; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.content {
	BACKGROUND: #fff; COLOR: #000
}
TD.content {
	PADDING-RIGHT: 30px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 0px
}
INPUT.text {
	BORDER-RIGHT: #549 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #549 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 90%; BACKGROUND: #eee; PADDING-BOTTOM: 1px; MARGIN: 2px 0px 2px 3px; BORDER-LEFT: #549 1px solid; COLOR: #000; PADDING-TOP: 1px; BORDER-BOTTOM: #549 1px solid
}
INPUT.button {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BACKGROUND: #ccc; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
TABLE.info {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; BORDER-LEFT: #000 1px solid; BORDER-BOTTOM: #000 1px solid
}
TH.info {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BACKGROUND: #eee; PADDING-BOTTOM: 1px; COLOR: #549; PADDING-TOP: 1px; BORDER-BOTTOM: #000 1px solid; TEXT-ALIGN: center
}
P.info {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 90%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
TD.info {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 90%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
UL.info {
	PADDING-LEFT: 4px
}
LI.info {
	TEXT-INDENT: 0px
}
A.info {
	FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #436; TEXT-DECORATION: none
}
A.infohead {
	FONT-WEIGHT: bold; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #549; TEXT-DECORATION: none
}
A.info:hover {
	TEXT-DECORATION: underline
}
A.infohead:hover {
	TEXT-DECORATION: underline
}
TABLE.message {
	BORDER-RIGHT: #a67 1px solid; BORDER-TOP: #a67 1px solid; MARGIN-TOP: 10px; BORDER-LEFT: #a67 1px solid; BORDER-BOTTOM: #a67 1px solid
}
TH.message {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BACKGROUND: #a96f74; PADDING-BOTTOM: 1px; COLOR: #eee; PADDING-TOP: 1px; TEXT-ALIGN: center
}
TD.message {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 90%; PADDING-BOTTOM: 0px; COLOR: #a67; PADDING-TOP: 0px
}
TD.right {
	PADDING-BOTTOM: 5px
}
P.note {
	FONT-WEIGHT: bold; COLOR: #a67
}
.quote {
	PADDING-LEFT: 10px; COLOR: #756; FONT-STYLE: italic
}
SPAN.url {
	COLOR: #756; FONT-FAMILY: monospace
}
TD.tail {
	PADDING-RIGHT: 5px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 90%; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.sig {
	PADDING-RIGHT: 5px; PADDING-LEFT: 2px; FONT-SIZE: 90%; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; COLOR: #549; PADDING-TOP: 2px
}
.nopad {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
.caption {
	FONT-SIZE: 90%; COLOR: #666
}
.faq {
	COLOR: #666
}
.arch TD {
	BACKGROUND-COLOR: #eee
}
