vti_encoding:SR|utf8-nl
publications/pvfs-stw2.tif:publications/fsbench\\ \\ 一个机群文件系统基准程序.doc
http\://www.cs.berkeley.edu/projects/sprite:subject/releate.htm
http\://portal.acm.org/browse_dl.cfm:subject/meetings.htm
http\://www.cs.umanitoba.ca/~hpcs04/:subject/meetings.htm
http\://research.compaq.com/src/personal/thekkath/frangipani/home.html/:subject/subject.htm
http\://www.pdl.cmu.edu/:subject/releate.htm
http\://www.ieee.org/awards/sums/johnson.htm:subject/releate.htm
http\://www.iaps.com/nfsv4.html:subject/subject.htm
ftp\://ftp.lemis.com/pub/:publications/fsbench\\ \\ 一个机群文件系统基准程序.doc
http\://www.iozone.org/:publications/fsbench\\ \\ 一个机群文件系统基准程序.doc
publications/trans:publications/dcfs\\ \\ file\\ service\\ in\\ commodity\\ cluster\\ dawning4000.doc
http\://www.cacs.louisiana.edu/icpads2004/:subject/meetings.htm
http\://www.haifa.il.ibm.com/:subject/releate.htm
http\://www.ece.cmu.edu/~asn/:subject/releate.htm
http\://www.computer.org/awards/awdta.htm:subject/releate.htm
http\://grid.hust.edu.cn/gcc2004:subject/meetings.htm
http\://www.cs.stanford.edu/~hennessy:subject/releate.htm
http\://www.sc-conference.org/:subject/meetings.htm
http\://apstc.sun.com.sg/pdcat04/:subject/meetings.htm
http\://nfsv4.org/:subject/subject.htm
publications/pvfs-per.tif:publications/fsbench\\ \\ 一个机群文件系统基准程序.doc
http\://storageconference.org/:subject/meetings.htm
http\://www.pdl.cmu.edu/secure/:subject/releate.htm
http\://www.pdl.cmu.edu/active/index.html:subject/releate.htm
http\://dcsg.cs.umn.edu:subject/releate.htm
http\://www.usenix.org/events/worlds04:subject/meetings.htm
/c\:/docume~1/admini~1/locals~1/temp/msoclip1/02/clip_image011.wmz:product/dcfs2.htm
http\://research.microsoft.com/sn/:subject/releate.htm
http\://www.computer.org/:subject/releate.htm
publications/dcfs-share.tif:publications/fsbench\\ \\ 一个机群文件系统基准程序.doc
http\://oceanstore.cs.berkeley.edu/:subject/releate.htm
http\://www.acm.org/:subject/releate.htm subject/magazines.htm
http\://www.usenix.org/events/usenix04/:subject/meetings.htm
http\://www.almaden.ibm.com/storagesystems/performance/index.shtml:subject/releate.htm
http\://lamport.org/:subject/releate.htm
publications/nfs-stw1.tif:publications/fsbench\\ \\ 一个机群文件系统基准程序.doc
http\://www.cs.ucla.edu/:subject/releate.htm
http\://www.almaden.ibm.com/storagesystems/file_systems/index.shtml:subject/releate.htm
http\://www.cs.arizona.edu/hpca9:subject/meetings.htm
publications/nfs-sfs.tif:publications/fsbench\\ \\ 一个机群文件系统基准程序.doc
http\://www.pdl.cmu.edu/mems/index.html:subject/releate.htm
/c\:/docume~1/admini~1/locals~1/temp/msoclip1/02/clip_image013.wmz:product/dcfs2.htm
http\://www.almaden.ibm.com/storagesystems/file_systems/storage_tank/index.shtml:subject/subject.htm
http\://www.snia.org/tech_activities/workgroups/osd/:subject/releate.htm
http\://www.ece.cmu.edu/research/c3s/index.shtml:subject/releate.htm
publications/pvfs-load.tif:publications/fsbench\\ \\ 一个机群文件系统基准程序.doc
http\://www.netapp.com/:publications/fsbench\\ \\ 一个机群文件系统基准程序.doc
http\://www.eecs.harvard.edu/sos/:subject/releate.htm
/c\:/docume~1/admini~1/locals~1/temp/msoclip1/02/clip_image005.wmz:product/dcfs2.htm
http\://www.ieee.org/awards/sums/voneum.htm:subject/releate.htm
http\://www.computer.org/awards/fellow.htm:subject/releate.htm
http\://www.pdl.cmu.edu/pasis/:subject/releate.htm
/c\:/docume~1/admini~1/locals~1/temp/msoclip1/02/clip_image001.wmz:product/dcfs2.htm
/c\:/docume~1/admini~1/locals~1/temp/msoclip1/01/clip_image001.jpg:member/xj.htm member/fanzh.htm member/lihui.htm member/chenhuan.htm member/trf.htm member/wlg.htm
http\://www.lustre.org:index.htm
http\://research.compaq.com/src/articles/199811/petal:subject/subject.htm
http\://www.cs.cmu.edu/~garth:subject/releate.htm
/c\:/docume~1/admini~1/locals~1/temp/msoclip1/02/clip_image003.wmz:product/dcfs2.htm
http\://www.sig.com/products/storage/cxfs.html:subject/subject.htm
http\://www.acm.org/sigs/sigops/osr.html:subject/magazines.htm
http\://www.ece.cmu.edu/~ece843/:subject/releate.htm
http\://www.ieee.org/:subject/releate.htm
mailto\:ducong@iit.edu:member/premember.htm
http\://www.mcs.anl.gov/ccgrid2004:subject/meetings.htm
http\://www.usenix.org/events/hotos03/:subject/meetings.htm
publications/dpnr.tif:publications/fsbench\\ \\ 一个机群文件系统基准程序.doc
http\://www.cs.rochester.edu/sosp2003/:subject/meetings.htm
http\://www.research.ibm.com/actc/oasis-2004:subject/meetings.htm
http\://www.almaden.ibm.com/storagesystems/autonomic_storage/index.shtml:subject/releate.htm
http\://www.hpcc.jp/hpcasia2004/:subject/meetings.htm
http\://www.academicpress.com/jpdc:subject/magazines.htm
http\://www.nae.edu/:subject/releate.htm
http\://www.npaci.edu/dice/srb/:subject/subject.htm
publications/dcfs:publications/dcfs\\ \\ file\\ service\\ in\\ commodity\\ cluster\\ dawning4000.doc
http\://www.usenix.org/publications/library/proceedings/bsdcon03/:subject/meetings.htm
http\://www.lustre.org/:subject/subject.htm
publications/dcfs-load.tif:publications/fsbench\\ \\ 一个机群文件系统基准程序.doc
http\://www.linuxclustersinstitute.org/linux-hpc-revolution/:subject/meetings.htm
http\://www.ipdps.org/ipdps2004:subject/meetings.htm
http\://dsonline.computer.org/index.htm:subject/magazines.htm
http\://www.mpi-forum.org/docs/docs.html:publications/fsbench\\ \\ 一个机群文件系统基准程序.doc publications/lbccp\\ \\ 一种符合unix语义的文件缓存一致性协议及其正确性证明.doc
publications/bw-512m:publications/dcfs\\ \\ file\\ service\\ in\\ commodity\\ cluster\\ dawning4000.doc
http\://www.usenix.org/events/osdi04/:subject/meetings.htm
publications/nfs-share.tif:publications/fsbench\\ \\ 一个机群文件系统基准程序.doc
http\://ir.iit.edu/cikm2004:subject/meetings.htm
http\://www.dafscollaborative.org/:subject/subject.htm
http\://www.ncic.ac.cn:product/dcfs2.htm member/xj.htm webpage/info.htm index.htm webpage/communication.htm product/dcfs1.htm product/supernbd.htm product/patent.htm webpage/subject.htm member/chenhuan.htm member/trf.htm member/wlg.htm webpage/scene.htm subject/subject.htm subject/meetings.htm subject/releate.htm subject/field_releate.htm webpage/product.htm subject/field.htm product/cosmos.htm product/project.htm product/software_reg.htm webpage/group.htm product/current.htm member/fanzh.htm member/lihui.htm member/premember.htm subject/article.htm webpage/member.htm subject/magazines.htm
http\://storageconference.org/2004:subject/meetings.htm
http\://www.acm.org/tocs/:subject/magazines.htm
publications/dcfs-3d-read.tif:publications/fsbench\\ \\ 一个机群文件系统基准程序.doc
publications/dcfs-load8.tif:publications/fsbench\\ \\ 一个机群文件系统基准程序.doc
http\://www.cs.berkeley.edu/~randy:subject/releate.htm
http\://www.acm.org/sigmod/:subject/releate.htm
http\://www.cs.duke.edu/ari/slice/:subject/subject.htm
http\://www.vldb04.org/:subject/meetings.htm
http\://linux-nfs.org/:subject/subject.htm
http\://www.pdl.cmu.edu/active/:subject/subject.htm
http\://www.ece.cmu.edu/research/chips/:subject/releate.htm
http\://www.acm.org/sigmod/sigmodinfo/awards.html:subject/releate.htm
http\://www.ict.ac.cn:index.htm
http\://www.pvfs.org/:subject/subject.htm
http\://www.ece.cmu.edu/calcm/:subject/releate.htm
http\://www.acm.org/awards/felaward.html:subject/releate.htm
http\://www4.clearlack.ibm.com/hpss/index.jsp/:subject/subject.htm
http\://www.almaden.ibm.com/storagesystems/grid/index.shtml:subject/releate.htm
http\://www.coda.cs.cmu.edu/:subject/releate.htm
http\://www.iol.unh.edu/consortiums/iscsi/:subject/subject.htm
http\://www.pdl.cmu.edu/selfstar/:subject/releate.htm
http\://multimedia.ece.uic.edu/pdcs2004/:subject/meetings.htm
http\://www.pdl.cmu.edu/dixtrac/index.html:subject/releate.htm
http\://www.specbench.org/osg/sfs97r1/:publications/fsbench\\ \\ 一个机群文件系统基准程序.doc
http\://www.usenix.org/events/fast04/:subject/meetings.htm
http\://rcf.unl.edu/abacus/snapi_04:subject/meetings.htm
http\://dsonline.computer.org/:subject/magazines.htm
http\://grail.sdsc.edu/cluster2004/:subject/meetings.htm
http\://grid.hust.edu.cn/npc04/:subject/meetings.htm
http\://now.cs.berkeley.edu/xfs/xfs.html:subject/subject.htm
publications/dpnw.tif:publications/fsbench\\ \\ 一个机群文件系统基准程序.doc
http\://www.csis.hku.hk/ispan2004:subject/meetings.htm
http\://www.ncic.ac.cn/:publications/108_tang_r.ppt publications/3c-3.ppt publications/dcfs\\ \\ file\\ service\\ in\\ commodity\\ cluster\\ dawning4000.doc
http\://www.eecs.harvard.edu/dafs/:subject/releate.htm
publications/dcfs-3d-write.tif:publications/fsbench\\ \\ 一个机群文件系统基准程序.doc
http\://www.parl.clemson.edu/:subject/releate.htm index.htm
http\://hpdc13.cs.ucsb.edu/:subject/meetings.htm
http\://www.ncic.ac.cn/dcfs:product/project.htm
http\://www.dsi.a_star.edu.sg/research/hyper.html:subject/subject.htm
http\://iram.cs.berkeley.edu/istore/:subject/releate.htm
publications/nfs-per.tif:publications/fsbench\\ \\ 一个机群文件系统基准程序.doc
http\://www.hpl.hp.com/research/issl/:subject/releate.htm
http\:///:webpage/subject.htm
mailto\:{jhe, xj, wsn, luyi, md}@ncic.ac.cn:publications/dcfs\\ \\ file\\ service\\ in\\ commodity\\ cluster\\ dawning4000.doc
http\://www.berkeley.edu:subject/releate.htm
http\://www.pdl.cmu.edu/freeblock/index.html:subject/releate.htm
http\://www.cs.wm.edu/per/:subject/magazines.htm
http\://www.cercs.gatech.edu/ftdcs2004:subject/meetings.htm
http\://www.eecg.toronto.edu/asplos2004:subject/meetings.htm
http\://www.acm.org/surveys:subject/magazines.htm
http\://www.cse.ohio-state.edu/icdcs04:subject/meetings.htm
